<% layout("layouts/boilerplate") %>
<h1 class="text-center">
    Все отзывы:
</h1>
<div class="my-2">
    <a class="btn btn-success" href="/new">
        Добавить Отзыв
    </a>
</div>
<% for (const review of reviews) { %>
    <div class="card mb-1">
        <div class="card-body">
            <h5 class="card-title mb-2">
                <%= review.firstName %>
            </h5>
            <p class="starability-result" data-rating="<%= review.rating %>">
                Оценка: <%= review.rating %>
            </p>
            <p class="card-text">Отзыв: <%= review.body %>
            </p>
        </div>
    </div>
<% } %>